<br>

<h5 style="text-align: center;font-weight: bold;font-size: 30px;">Cadastro de Acesso</h5>

<br>

<form class="row g-3" [formGroup]="acessoProdForm">

    <input type="hidden" id="empresa" name="empresa" formControlName="empresa">


    <div class="col-2">
        <label for="id" class="form-label">ID:</label>
        <input type="text" class="form-control" id="id" readonly name="id" placeholder="ID" formControlName="id">
    </div>
    <div class="col-10">


        <label for="nomeDesc" class="form-label">   Acesso</label>
        <input type="text" maxlength="100" class="form-control" id="nomeDesc" name="nomeDesc" required
            placeholder="Nome do acesso" formControlName="nomeDesc">
        <div *ngIf="acessoProdForm.get('nomeDesc')?.errors" style="font-size: 8px;color: brown;">* Nome do acesso
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary"  style="margin-left: 10px; width: 80px;" [disabled]="!acessoProdForm.valid" (click)="salvar()">Salvar</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px; width: 80px;"
            [disabled]="!acessoProdForm.valid" (click)="novo()" >Novo</button>
    </div>
</form>
<br>
<form class="row g-3">

    <h3 for="pesquisa" class="form-label">Pesquisar acessos</h3>
    <div class="col-10">
        <input type="text" #pesquisa  class="form-control" id="pesquisa"
            name="pesquisa" placeholder="Nome do acesso para pesquisar" (keydown.enter)="pesquisarAcessoPorDesc(pesquisa.value)">
    </div>
    <div class="col-2">
        <button type="button" style="width: 80%;" 
            class="btn btn-success" (click)="pesquisarAcessoPorDesc(pesquisa.value)">Pesquisar</button>
    </div>
</form>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
       
        <tr *ngFor="let i of listaMarca"> 

            <td>{{i.id}}</td>
            <td>{{i.descricao}}</td>
            <td><button type="button" class="btn btn-primary" (click)="editarAcesso(i)" >Editar</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deletarAcesso(i)">Deletar</button></td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link"  (click)="voltar()">Voltar</a>
        </li>
        <li class="page-item" *ngFor="let p of this.numeroPaginas; let i = index">
            <a class="page-link" (click)="buscarPagina(i)" >{{i + 1}}</a>
        </li>
        <li class="page-item">
            <a class="page-link"  (click)="avancar()">Avançar</a>
        </li>
    </ul>
</nav>